@use 'sass:map';

$theme-dark: (
  'bg-transparent': #ffffff00,
  'bg-light-main': rgba(19, 26, 32, 0.3),
  'bg-main': #131a20,
  'bg-secondary': #172026,
  'bg-secondary-gradient': linear-gradient(135deg, #222c33, #172026),
  'bg-sub-menu': #1d282f,
  'bg-dice': #88aef9,
  'bg-homebrew': #5d7e17,
  'bg-homebrew-gradient':
    linear-gradient(50deg, var(--bg-table-list), var(--bg-homebrew) 240%),
  'bg-homebrew-gradient-left':
    linear-gradient(-50deg, var(--bg-table-list), var(--bg-homebrew) 240%),
  'bg-advantage': #3dd13d,
  'bg-disadvantage': #d36363,
  'bg-saving-throw': #fe5e00,
  'bg-blockquote': #1e2226,
  'bg-inpur-hover': rgba(255, 255, 255, 0.1),
  'bg-inpur-focus': rgba(255, 255, 255, 0.08),
  'bg-details-title': rgba(255, 255, 255, 0.05),
  'bg-table-list': #1a2127,
  'bg-liner-list': linear-gradient(to right, var(--bg-table-list), transparent),
  'bg-liner-menu': linear-gradient(to bottom, #0d1217, transparent),
  'bg-liner-menu-scroll': linear-gradient(to bottom, #0d1217, var(--bg-main)),
  'bg-theme-selected': #f8f8f8,
  'text-color': #c3d1da,
  'text-color-active': #ffffff,
  'text-color-title': #ffffff,
  'text-b-color': #ffffff,
  'text-g-color': #a4a4a4,
  'text-s-color': #c4c5ff,
  'text-a-color': #34bb3e,
  'text-btn-color': #f8f8f8,
  'text-print-color': #000000,
  'link-color': #88aef9,
  'link-color-hover': #a5d4f7,
  'hover': rgba(255, 255, 255, 0.05),
  'bg-table-row': rgba(255, 255, 255, 0.03),
  'bg-table-row-highlighted': rgba(255, 255, 255, 0.15),
  'border': rgba(255, 255, 255, 0.08),
  'border-hover': #c3d1da,
  'primary': #3567c9,
  'primary-hover': #325cab,
  'primary-active': #2552a5,
  'primary-select': #2552a52a,
  'box-shadow': 0 8px 22px rgba(26, 20, 37, 0.8),
  'common': #ffffff,
  'uncommon': #8aff91,
  'rare': #a5f1ff,
  'very-rare': #e770ff,
  'legendary': #f6ff00,
  'artifact': #ff8900,
  'bg-gradient': linear-gradient(135deg, #23323bc7, #19141fc7),
  'border-gradient': #1C386B,
  'card-shadow': rgba(0,0,0,.05),
  // Badge
  'badge-hb': #405710,
  'badge-3rd': #483475,
  'badge-basic': var(--bg-table-list),
  'badge-ua': var(--bg-table-list),
  // Scroll
  'background-color-thumb': rgba(255, 255, 255, 0.6),
  'background-color-thumb-hover': rgba(255, 255, 255, 0.8),
  // Logo
  'logo-stroke': #d7def0,
  'logo-skull': #173f88,
  'logo-section-1': #638fe1,
  'logo-section-2': #4472c7,
  'logo-section-3': #2552a5,
  'logo-section-4': #2552a5,
  'logo-section-5': #25498c,
  'logo-section-6': #173f88,
  'logo-section-7': #1c386b,
  'logo-section-8': #103579
);

$theme-light: (
  'bg-transparent': #ffffff00,
  'bg-light-main': rgba(249, 246, 235, 0.3),
  'bg-main': #f9f6f1,
  'bg-secondary': #f3f1db,
  'bg-secondary-gradient': linear-gradient(135deg, #f5f2cf, #f3f1db),
  'bg-sub-menu': #ebe5d0,
  'bg-dice': #3567c9,
  'bg-homebrew': #5d7e17,
  'bg-homebrew-gradient':
    linear-gradient(50deg, var(--bg-table-list), var(--bg-homebrew) 140%),
  'bg-homebrew-gradient-left':
    linear-gradient(-50deg, var(--bg-table-list), var(--bg-homebrew) 140%),
  'bg-advantage': #0cb70c,
  'bg-disadvantage': #ff3e3e,
  'bg-saving-throw': #fe5e00,
  'bg-blockquote': #e3dfd3,
  'bg-inpur-hover': rgba(3, 3, 3, 0.15),
  'bg-inpur-focus': rgba(0, 0, 0, 0.08),
  'bg-details-title': rgba(00, 00, 00, 0.08),
  'bg-table-list': #ebe7d9,
  'bg-liner-list': linear-gradient(to right, var(--bg-table-list), transparent),
  'bg-liner-menu': linear-gradient(to bottom, #c7c5bd, transparent),
  'bg-liner-menu-scroll': linear-gradient(to bottom, #c7c5bd, var(--bg-main)),
  'bg-theme-selected': #cdc07c,
  'text-color': #404040,
  'text-color-active': #922610,
  'text-color-title': #042a12,
  'text-b-color': #313131,
  'text-g-color': #6a6a6a,
  'text-s-color': #922610,
  'text-a-color': #744e09,
  'text-btn-color': #f8f8f8,
  'text-print-color': #000000,
  'link-color': #3567c9,
  'link-color-hover': #102a5e,
  'hover': rgba(00, 00, 00, 0.08),
  'bg-table-row': rgba(00, 00, 00, 0.05),
  'bg-table-row-highlighted': rgba(00, 00, 00, 0.15),
  'border': rgba(0, 0, 0, 0.08),
  'border-hover': #404040,
  'primary': #5e5446,
  'primary-hover': #796e5e,
  'primary-active': #696052,
  'primary-select': #6960522a,
  'box-shadow': 0 8px 22px rgba(16, 29, 2, 0.3),
  'common': #ffffff,
  'uncommon': #6fd575,
  'rare': #58d5eb,
  'very-rare': #e770ff,
  'legendary': #d1d900,
  'artifact': #ff8900,
  'bg-gradient': linear-gradient(135deg, #f7f2c5c7, #f7f1e5c7),
  'border-gradient': #f8c6bb,
  'card-shadow': rgba(0,0,0,.05),
  // Badge
  'badge-hb': #97ca28,
  'badge-3rd': #d4cbe9,
  'badge-basic': var(--bg-table-list),
  'badge-ua': var(--bg-table-list),
  // Scroll
  'background-color-thumb': rgba(0, 0, 0, 0.6),
  'background-color-thumb-hover': rgba(0, 0, 0, 0.8),
  // Logo
  'logo-stroke': #353430,
  'logo-skull': #cdc07c,
  'logo-section-1': #dba79c,
  'logo-section-2': #c37165,
  'logo-section-3': #c6695c,
  'logo-section-4': #6d2e21,
  'logo-section-5': #b34536,
  'logo-section-6': #8e3b2b,
  'logo-section-7': #813120,
  'logo-section-8': #6e2a1c
);

$base-colors: (
  'discord-base': #5865f2,
  'discord-hover': #3f4cd9,
  'patreon-base': #ff424d,
  'patreon-hover': #e62934,
  'vk-base': #0077ff,
  'vk-hover': #005ee6,
  'boosty-base': #f15f2c,
  'boosty-hover': #d84613,
  'youtube-base': #ff0000,
  'youtube-hover': #a80000,
  'success': #67c23a,
  'success-hover': darken(#67c23a, 7%),
  'warning': #e6a23c,
  'warning-hover': darken(#e6a23c, 7%),
  'error': #f56c6c,
  'error-hover': darken(#f56c6c, 7%),
  'info': #909399,
  'info-hover': darken(#909399, 7%)
);

$theme-colors: (
  '': map.merge($theme-dark, $base-colors),
  'dark': map.merge($theme-dark, $base-colors),
  'light': map.merge($theme-light, $base-colors)
);
