@use 'sass:list';
@use 'breakpoints' as *;

@mixin empty-block($width, $height: $width, $display: block) {
  content: '';
  display: $display;
  width: $width;
  height: $height;
}

@mixin back-img(
  $size: cover,
  $posX: center,
  $posY: center,
  $repeat: no-repeat
) {
  background-repeat: $repeat;
  background-position-x: $posX;
  background-position-y: $posY;
  background-size: $size;
}

@mixin css-anim($time: 0.15s, $item: all, $style: ease-in-out) {
  $transition: ();

  @each $property in $item {
    $transition: list.append(
      $transition,
      ($property $time $style),
      $separator: comma
    );
  }

  transition: $transition;

  @include media-min($md) {
    &:hover {
      transition: $transition;
    }
  }
}
