@use '@/assets/styles/variables/mixins' as *;
@use '@/assets/styles/variables/breakpoints' as *;

.bookmarks {
  user-select: none;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: var(--bg-secondary);

  *,
  *::before,
  *::after {
    &:not(input) {
      user-select: none;
    }
  }

  @include media-min($md) {
    width: 100vw;
    max-width: 640px;
  }

  &__header {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    height: 50px;
    padding: 0 16px;

    border-bottom: 1px solid var(--hover);
  }

  &__wrapper {
    overflow: auto;
    display: block;
    padding: 8px;
  }

  &__body {
    overflow: auto;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__info {
    height: 16px;
    margin-right: auto;

    &--desc {
      width: 200px;
      margin-bottom: 4px;
      padding: 0 8px;
      font-size: var(--h5-font-size);
    }

    &--title {
      font-weight: 600;
    }

    &--desc,
    &--title {
      color: var(--text-b-color);
    }
  }


  &__drop {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 24px;

    background-color: var(--primary);
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;

    &.is-drag-over {
      background-color: var(--primary-hover);
    }

    &_head {
      cursor: pointer;

      display: flex;
      align-items: center;

      padding: 6px;

      line-height: 16px;
    }

    &_label {
      overflow: hidden;
      display: inline-block;

      width: 100%;
      padding: 0 0 0 8px;

      font-size: inherit;
      font-weight: normal;
      color: var(--text-color-title);
      text-overflow: ellipsis;
      letter-spacing: 0.75px;
      white-space: nowrap;
    }

    &_icon {
      cursor: pointer;

      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;

      width: 24px;
      height: 24px;
      padding: 2px;

      font-size: 16px;
      color: var(--text-color-title);

      background: var(--bg-sub-menu);
      border-radius: 4px;

      @include css-anim;

      &.only-hover {
        &:not(.is-active) {
          opacity: 0;

          @media (width <= 600px) {
            opacity: 1;
          }
        }
      }

      @include media-min($md) {
        &:hover {
          background: var(--hover);
        }
      }

      & + & {
        margin-left: 4px;
      }
    }

    &.is-active {
      background: var(--bg-sub-menu);
    }

    @include media-min($md) {
      &:hover {
        background: var(--hover);

        .bookmarks {
          &__group {
            &_icon {
              &.only-hover {
                opacity: 1;
              }
            }
          }
        }

        &.is-active {
          background: var(--bg-sub-menu);
        }
      }
    }

    &_body {
      padding: 0 8px;
    }
  }

  &__cat {
    margin-bottom: 16px;
    padding: 12px 8px;
    background-color: var(--bg-secondary);
    border-radius: 8px;

    &_label {
      position: relative;

      display: flex;
      align-items: center;

      width: 100%;
      height: 20px;
      padding: 2px 8px;

      font-size: calc(var(--main-font-size) - 4px);
      font-weight: 600;
      color: var(--text-g-color);
      text-transform: uppercase;
      letter-spacing: 0.75px;

      &_name {
        line-height: 18px;
        color: var(--text-color-title);
      }

      &_icon {
        cursor: pointer;

        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;
        padding: 2px;

        font-size: 16px;
        color: var(--text-color-title);

        background: var(--bg-sub-menu);
        border-radius: 4px;

        @include css-anim;

        &.is-left {
          margin-right: 4px;

          &:hover {
            cursor: grab;
          }

          &:active {
            cursor: grabbing;
          }
        }

        &.is-right {
          margin-left: 2px;
        }

        &.only-hover {
          &:not(.is-active) {
            opacity: 0;

            @media (width <= 600px) {
              opacity: 1;
            }
          }
        }

        @include media-min($md) {
          &:hover {
            background: var(--hover);
          }
        }
      }

      .is-left {
        width: 20px;
        height: 20px;
        margin-right: 14px;
        margin-left: -6px;
      }

      @include media-min($md) {
        &:hover {
          .bookmarks {
            &__cat {
              &_label {
                &_icon {
                  &.only-hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }

    &_body {
      padding: 0;

      @include media-min($md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &_ghost {
      cursor: grabbing;
      background: var(--hover);
      border-radius: 6px;
    }

    &_chosen {
      cursor: grabbing;
    }

    &_drag {
      cursor: grabbing;
      background: var(--primary);
      border-radius: 6px;
    }

    &:last-child {
      margin-bottom: 8px;
    }
  }

  &__item {
    &_body {
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 6px;

      @include css-anim;

      &:hover {
        .bookmarks {
          &__cat {
            &_label {
              &_icon {
                opacity: 1;
              }
            }
          }
        }
      }

      @include media-min($md) {
        &:hover {
          .bookmarks {
            &__item {
              &_icon {
                &.only-hover {
                  opacity: 1;
                }
              }

              &_label,
              &_icon {
                color: var(--text-color-title);
              }

              &_label {
                color: var(--text-color-title);
                background-color: var(--hover);
              }
            }
          }
        }
      }
    }

    &_label {
      display: flex;

      width: 100%;
      padding: 8px;

      font-weight: 400;
      line-height: 16px;
      color: var(--text-color);

      border-radius: 6px;

      @include css-anim;
    }

    &_icon {
      cursor: pointer;

      position: absolute;
      right: 4px;

      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;

      width: 24px;
      height: 24px;
      margin-left: 4px;
      padding: 2px;

      font-size: 16px;

      border-radius: 6px;

      @include css-anim;

      &.only-hover {
        &:not(.is-active) {
          opacity: 0;

          @media (width <= 600px) {
            opacity: 1;
          }
        }
      }

      svg {
        stroke: var(--text-color);
      }

      @include media-min($md) {
        &:hover {
          background: var(--hover);
        }
      }
    }

    &_ghost {
      cursor: grabbing;
      background: var(--hover);
      border-radius: 6px;
    }

    &_chosen {
      cursor: grabbing;
      opacity: 0.5;
      background: var(--primary);
    }

    &_drag {
      cursor: grabbing;
      background: var(--primary);
      border-radius: 6px;
    }
  }

  &__input {
    display: flex;
    gap: 8px;
    width: 100%;
    padding: 8px 0;
  }

  &.is-default {
    background-color: transparent;

    .bookmarks {
      &__cat {
        border: 0;

        &_body {
          padding: 0;
        }
      }

      &__header {
        padding: 16px;
      }

      &__group {
        &_body {
          padding: 0;
        }

        @include media-min($md) {
          &:hover {
            background: none;
          }
        }
      }
    }
  }
}
