@use '@/assets/styles/variables/breakpoints' as *;
@use '@/assets/styles/variables/mixins' as *;

.filter-item {
  overflow: hidden;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 8px;

  & + & {
    margin-top: 16px;
  }

  &__header {
    cursor: pointer;
    display: flex;
    width: 100%;

    @include css-anim();

    @include media-min($md) {
      &:hover {
        background-color: var(--hover);
      }
    }
  }

  &__trigger {
    display: flex;
    flex: 1;
    width: 100%;
  }

  &__name {
    flex: 1;

    padding: 10px 12px;

    font-size: var(--h5-font-size);
    font-weight: 500;
    line-height: var(--h5-line-height);
    color: var(--text-color-title);
  }

  &__button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;

    color: var(--text-color);

    @include css-anim();

    @include media-min($md) {
      &:hover {
        color: var(--text-btn-color);
        background-color: var(--primary-hover);

        @include css-anim();
      }
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 4px 12px 12px;

    &.is-toggle {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
}
