.link-item {
  overflow: hidden;
  display: block;

  width: 100%;
  margin-bottom: 12px;

  background: var(--bg-table-list);
  border-radius: 12px;

  &.is-sub-item {
    background: var(--bg-sub-menu);
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: initial;

    width: 100%;
    min-height: 38px;
    padding: 6px 12px;
  }

  &__body {
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    & + & {
      margin-top: 4px;
    }
  }

  &__type,
  &__damage,
  &__ac,
  &__count,
  &__customization,
  &__price {
    overflow: hidden;
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;

    height: 20px;

    font-size: calc(var(--main-font-size) - 1px);
    line-height: normal;
    color: var(--text-color);
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      flex: 1 1 auto;
    }
  }

  &__damage {
    &_type {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__ac {
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__type {
    display: inline-block;
    justify-content: flex-start;
    padding-right: 4px;

    @media (max-width: 1200px) {
      flex: 1 0 100%;
    }
  }

  &__damage {
    justify-content: flex-start;
  }

  &__ac {
    justify-content: flex-start;
  }

  &__name {
    overflow: hidden;
    display: inline-block;

    width: 100%;

    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    color: var(--text-color-title);
    text-overflow: ellipsis;
    white-space: nowrap;

    &--rus {
      display: inline;
      max-width: 100%;
      color: var(--text-color-title);
    }

    &--eng {
      display: inline;
      color: var(--text-g-color);
    }
  }

  &__source {
    margin-left: 8px;
    padding: 0 6px;

    font-size: calc(var(--main-font-size) - 4px);
    color: var(--text-color);

    background: var(--source-group-color);
    border: 1px solid var(--border);
    border-radius: 20px;
  }

  &__count + &__price,
  &__count + &__customization {
    flex: 0 1 80px;
  }

  &__customization + &__price {
    flex: 0 1 80px;
  }

  &:hover {
    border-bottom: none;
    .link-item {
      &__content {
        background-color: var(--hover);
      }
    }
  }

  &.router-link-active {
    .link-item {
      &__content {
        background-color: var(--primary-active);
      }

      &__name {
        &--rus,
        &--eng {
          color: var(--text-btn-color);
        }
      }

      &__type,
      &__damage,
      &__price {
        color: var(--text-btn-color);
      }

      &__damage {
        &_dice {
          color: var(--text-btn-color) !important;
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
