@use '@/assets/styles/variables/breakpoints' as *;
@use '@/assets/styles/variables/mixins' as *;

.link-item-expand {
  will-change: left, top;
  overflow: hidden;
  display: block;
  width: 100%;

  &.is-green {
    .link-item-expand {
      &__content {
        background: var(--bg-homebrew-gradient-left);

        &__gradient {
          opacity: 0.2;
          background: var(--bg-homebrew-gradient-left);
        }
      }
    }
  }

  &__content {
    isolation: isolate;
    position: relative;

    overflow: hidden;

    width: 100%;

    background-color: var(--bg-table-list);
    border: 1px solid var(--bg-secondary);
    border-radius: 16px;

    &__img-bg {
      pointer-events: none;

      position: absolute;
      top: 0;
      right: 0;
      transform-origin: top right 1px;

      width: 50%;

      opacity: 1;

      @include css-anim($item: transform, $time: 0.6s);

      @include media-min($lg) {
        width: 70%;
      }

      @include media-min($xxl) {
        width: 80%;
      }
    }

    &__gradient {
      pointer-events: none;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform-origin: 0 0 2px;

      display: block;

      width: 100%;
      height: 100%;

      opacity: 1;
      background: var(--bg-liner-list);
    }
  }

  &__link {
    z-index: 3;

    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
    padding: 16px 16px !important;
  }

  &__main {
    display: flex;
    width: 100%;
  }

  &__icon {
    z-index: 3;

    display: block;

    width: 44px;
    min-width: 44px;
    height: 44px;
    margin: -2px 8px 0 0;
    padding: 6px;

    color: var(--primary);

    background: var(--hover);
    border-radius: 8px;

    & + .link-item-expand {
      &__body {
        padding-left: 16px;
      }
    }
  }

  &__body {
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    &_row {
      display: flex;
      &:first-child {
        margin-bottom: 18px;
      }
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    padding-right: 8px;

    &--rus,
    &--eng {
      display: inline;

      font-size: calc(var(--h5-font-size) + 2px);
      font-weight: 500;
      line-height: normal;
      color: var(--text-color-title);
    }

    &--eng {
      font-size: calc(var(--h5-font-size) - 1px);
      color: var(--text-g-color);
    }
  }

  &__tag {
    display: inline-block;

    width: fit-content;
    margin: 8px 4px 0 0;
    padding: 4px 8px;

    font-size: calc(var(--h5-font-size) - 2px);
    color: var(--text-btn-color);

    background-color: var(--primary-active);
    border-radius: 20px;
  }

  &__toggle {
    position: absolute;
    z-index: 6;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    min-width: 32px;
    height: 32px;
    margin: 0;
    padding: 8px 4px;

    font-size: 18px;
    font-weight: 600;
    color: var(--text-btn-color);
    text-transform: uppercase;

    background-color: var(--primary);
    border-top-left-radius: 12px;

    @include media-min($md) {
      &:hover {
        background-color: var(--primary-hover);
      }
    }

    svg {
      width: 24px;
      height: 24px;

      @include css-anim();
    }
  }

  &__arch {
    &-list {
      position: relative;
      z-index: 5;
      padding: 0 16px 16px 8px;
    }

    &-type {
      &:nth-child(n + 2) {
        margin-top: 16px;
      }

      &_items {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding-top: 8px;
        padding-bottom: 6px;

        @include media-min($sm) {
          min-width: 216px;
          max-width: 100%;
        }

        &::after {
          content: '';

          position: absolute;
          top: 4px;
          bottom: 0;
          left: 8px;

          display: block;

          width: 1px;

          background-color: var(--border);
        }
      }

      &_name {
        padding: 0 8px;
        color: var(--text-color-title);
        font: {
          size: calc(var(--h5-font-size) + 2px);

          weight: 400;
        }
      }
    }

    &-item {
      position: relative;

      display: inline-block;

      margin-left: 8px;
      padding: 6px 8px;

      font-size: var(--main-font-size);
      color: var(--text-color);

      &_book {
        margin-left: 4px;
        font-size: calc(var(--main-font-size) - 2px);
        color: var(--text-g-color);
      }

      &:hover {
        background-color: var(--hover);
      }

      &.router-link-active {
        &::after {
          content: '';

          position: absolute;
          top: 0;
          bottom: 0;
          left: -1px;

          display: block;

          width: 3px;

          background-color: var(--link-color);
          border-radius: 4px;
        }

        .link-item-expand__arch-item {
          &_name,
          &_book {
            color: var(--link-color);
          }
        }
      }
    }
  }

  @include media-min($md) {
    &:hover {
      .link-item-expand {
        &__content {
          &__img-bg {
            transform: scale(
              1.03
            ); // Не удалять, чтобы не было мерцания при ховере
          }
        }
      }
    }
  }

  &.router-link-active {
    .link-item-expand {
      &__content {
        border-color: var(--primary);

        &__img-bg {
          opacity: 0.3;
        }
      }
    }
  }
}
