@use '@/assets/styles/variables/breakpoints' as *;
@use '@/assets/styles/variables/mixins' as *;

html {
  --navbar-height: calc(56px + var(--safe-area-inset-bottom));
  --navbar-width: calc(56px + var(--safe-area-inset-left));
}

.navbar {
  pointer-events: none;

  position: relative;
  z-index: 100;

  display: flex;
  flex-flow: row nowrap;

  width: 100%;
  height: var(--navbar-height);
  min-height: 56px;
  padding-bottom: var(--safe-area-inset-bottom);

  background-color: var(--bg-main);
  border-top: 1px solid var(--border);
  border-right: 0;

  &__btn {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    color: var(--text-color);

    border-radius: 8px;

    @include css-anim;

    svg {
      font-size: 24px;
    }

    &:hover {
      color: var(--text-b-color);
      background-color: var(--hover);
    }

    &.is-active {
      background-color: var(--hover);
    }
  }

  &__link {
    cursor: pointer;

    display: flex;
    align-items: center;

    height: 40px;
    padding: 6px;

    font-weight: 600;
    color: var(--text-color);

    border-radius: 8px;

    @include css-anim;

    &:hover {
      color: var(--text-b-color);
      background-color: var(--hover);
    }
  }

  &__text {
    font-weight: 600;
    color: var(--text-color);

    span {
      padding: 6px;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: auto;
    padding: 0 16px;

    &_left,
    &_right {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;

      * {
        pointer-events: auto;
      }

      @include media-min($md) {
        flex-direction: column;
        gap: 8px;
      }
    }

    &_left {
      width: 100%;
      height: auto;
      margin-left: -7px;

      @include media-min($md) {
        width: auto;
        height: 100%;
        margin-left: 0;
      }
    }

    &_right {
      margin-left: 8px;

      .btn_nav {
        & + & {
          margin-left: 8px;
        }
      }

      @include media-min($md) {
        gap: 8px;
        height: auto;
        margin-left: 0;
      }
    }

    &_logo {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include media-min($md) {
      flex-direction: column;
      height: 100%;
      padding: 24px 0;
    }
  }

  &__section {
    display: flex;
    align-items: center;

    .navbar {
      &__text {
        @include media-max($md) {
          display: none;
        }
      }
    }
  }

  @include media-min($md) {
    flex-flow: column nowrap;

    width: calc(var(--navbar-width) + 8px);
    min-width: calc(var(--navbar-width) + 8px);
    height: 100%;
    min-height: 100%;

    border-top: 0;
    border-right: 1px solid var(--border);
  }
}

.hamburger {
  position: relative;

  display: block;

  height: auto;
  margin-right: 8px;
  padding: 9px;

  .line {
    display: block;

    width: 20px;
    height: 2px;
    margin: 4px auto;

    background-color: var(--text-color);
    border-radius: 2px;

    transition: all 0.3s ease-in-out;

    @include css-anim;
  }

  &:hover {
    cursor: pointer;

    .line {
      background-color: var(--text-b-color);

      &:nth-child(1) {
        transform: translateX(-6px) translate3d(0, 0, 0);
        width: 14px;
      }
    }

  }

  &.is-active {
    .line {
      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg) translate3d(0, 0, 0);
      }

      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg) translate3d(0, 0, 0);
      }
    }

    &:hover {
      .line {
        &:nth-child(1) {
          transform: translateY(6px) rotate(45deg) translate3d(0, 0, 0);
          width: 20px;
        }
      }
    }
  }
}
