@use 'normalize.css';
@use 'vue-multiselect/dist/vue-multiselect.css';
@use 'tippy.js/dist/tippy.css';
@use 'vue-virtual-scroller/dist/vue-virtual-scroller.css';
@use 'vue-toastification/src/scss' as *;

@forward 'vue-toastification/src/scss/_variables' with (
    $vt-font-family: 'Open Sans'\, sans-serif,
    $vt-color-default: var(--bg-sub-menu),
    $vt-text-color-default: var(--text-color),
    $vt-color-info: var(--primary),
    $vt-color-success: var(--success),
    $vt-color-warning: var(--warning),
    $vt-color-error: var(--error),
    $vt-color-progress-default:
      linear-gradient(
        to right,
        #4cd964,
        #5ac8fa,
        #007aff,
        #34aadc,
        #5856d6,
        #ff2d55
      )
  );

[data-tippy-root] {
  display: inline;
  cursor: auto;

  .tippy-box {
    &[data-theme~='dnd5club'] {
      background-color: var(--bg-main);
      border: 1px solid var(--border);
      border-radius: 8px;
      box-shadow: var(--box-shadow);

      & > .tippy-backdrop {
        background-color: var(--bg-main);
      }

      & > .tippy-content {
        max-height: 320px;
        overflow: auto;
        color: var(--text-color);
        line-height: 16px;
        padding: 10px;
      }

      & > .tippy-svg-arrow {
        fill: var(--bg-main);
      }

      &[data-placement^='top'] > .tippy-arrow:before {
        border-top-color: var(--bg-main);
      }

      &[data-placement^='bottom'] > .tippy-arrow:before {
        border-bottom-color: var(--bg-main);
      }

      &[data-placement^='left'] > .tippy-arrow:before {
        border-left-color: var(--bg-main);
      }

      &[data-placement^='right'] > .tippy-arrow:before {
        border-right-color: var(--bg-main);
      }
    }

    &[data-theme~='no-padding'] {
      & > .tippy-content {
        padding: 0;
      }
    }
  }

  .scores {
    &__stats {
      max-width: calc(33% - 8px);
      flex: 1 0 calc(33% - 8px);
    }
  }

  .ui-easy-lightbox {
    width: 140px;
  }

  .row_info {
    margin: 0;
  }

  .content-padding {
    padding: 16px 0;
  }

  .grid_stat_block {
    margin: 16px 0 0 0;

    .block {
      flex: 1 0 calc(50% - 49px);
      min-width: calc(50% - 49px);
    }
  }
}

.ps {
  height: 100%;
  width: 100%;

  &__thumb {
    &-x,
    &-y {
      background-color: var(--primary);
    }
  }

  & &__rail {
    &-x,
    &-y {
      &:hover,
      &:focus,
      &.ps--clicking {
        background-color: transparent;

        .ps {
          &__thumb {
            &-x,
            &-y {
              background-color: var(--primary);
              width: 6px;
            }
          }
        }
      }
    }
  }
}

.vfm {
  cursor: pointer;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: var(--max-vh);
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-light-main);
    pointer-events: none;
    cursor: initial;

    > * {
      pointer-events: initial;
    }

    .row_info {
      margin-top: 16px;
    }
  }
}

.Vue-Toastification {
  &__bounce {
    &-leave-active,
    &-enter-active {
      animation-duration: 450ms;
    }

    &-move {
      animation-duration: 250ms;
    }
  }

  &__icon {
    margin: 2px 16px 0 0;
    width: 20px;
    height: 20px;
  }

  &__close {
    &-button {
      color: currentColor;
    }
  }

  &__close-button {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 0 0 16px;
  }

  &__progress {
    &-bar {
      background-color: transparent;

      &:before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0.7;
        background-color: currentColor;
      }
    }
  }

  &__toast {
    padding: 12px 16px;
    border-radius: 12px;
    min-height: 48px;
    font-family: "Open Sans", sans-serif;

    @media only screen and (max-width: 600px) {
      border-radius: 0;
    }

    .Vue-Toastification {
      &__toast {
        &-component-body,
        &-body {
          display: inline-flex;
          align-items: center;
          font-size: var(--main-font-size);
          line-height: var(--main-line-height);

          a {
            font-weight: 600;
            color: var(--text-btn-color);

            &:hover {
              border-bottom: 1px solid currentColor;
            }
          }
        }
      }
    }

    &--default {
      background-color: var(--bg-sub-menu);
      color: var(--text-color);

      .Vue-Toastification {
        &__toast {
          &-component {
            &-body {
              a {
                color: var(--text-color);
              }
            }
          }
        }
      }
    }

    &--info {
      background-color: var(--primary);
    }

    &--success {
      background-color: var(--success);
    }

    &--warning {
      background-color: var(--warning);
    }

    &--error {
      background-color: var(--error);
    }
  }
}
