@media print {
  // @page {
  //   margin: auto 0cm auto 0cm;
  // }

  :root {
    --main-font-size: 12px;
    --h1-font-size: 36px;
    --h2-font-size: 28px;
    --h3-font-size: 24px;
    --h4-font-size: 20px;
    --h5-font-size: 12px;

    --main-line-height: 1.1;
    --h1-line-height: 1;
    --h2-line-height: 1;
    --h3-line-height: 1;
    --h4-line-height: 1;
    --h5-line-height: 1.1;
  }

  hr {
    margin: 8px 0 !important;
  }

  body {
    background: white !important;
    color: black !important;

    * {
      background: transparent !important;
      color: black !important;
    }
  }

  #dnd5club {
    &:after {
      display: none !important;
    }
  }

  .content-layout__side--left {
    display: none !important;
  }

  .navbar {
    display: none !important;
  }

  body,
  .dnd5club,
  .container,
  .content-padding,
  .creature_wrapper,
  .content-layout__body,
  .content-layout__selected,
  .content-detail,
  .content-detail__body,
  .content-layout__side--right {
    max-width: none !important;
    width: 100% !important;
    margin: 0 !important;
    float: none !important;
    display: block !important;
    position: relative !important;
    visibility: visible !important;
    overflow: visible !important;
    color: black !important;
    padding: 0 !important;
  }

  .content-layout__selected {
    top: 0 !important;
  }

  .section-header {
    padding: 0 !important;
  }

  .section-header {
    &__controls {
      display: none !important;
    }
  }

  .scores__stats {
    min-width: 20px !important;
    flex: none !important;
    border: 1px solid rgb(119, 119, 119) !important;
    padding: 8px !important;

    h4 {
      height: 16px !important;
      font-size: 10px !important;
    }

    p {
      padding: 0 !important;
      margin: 0px !important;
    }
  }

  .navbar,
  .ui-easy-lightbox,
  [data-tippy-root],
  .content-layout__list {
    display: none !important;
  }

  h1 a,
  h1,
  h2,
  h3,
  h4,
  h5,
  strong,
  span,
  p,
  .section-header__title--text {
    color: var(--text-print-color) !important;
  }

  p {
    margin: 0 0 8px 0 !important;
  }

  .header_separator {
    margin: 8px 0 0 0 !important;
    border-bottom: none !important;
    font-size: 16px;
  }

  .section-header__title--text {
    font-size: 0.7cm !important;
  }

  .row_info,
  .section-header__body {
    padding: 4px 0 4px 0 !important;
    margin: 0 !important;
    gap: 0px !important;
  }

  .grid_stat_block {
    margin: 0 !important;
  }

  h1 a,
  h1,
  h2 {
    margin: 0 !important;
  }

  details:not([open]) {
    display: none !important;
  }

  details[open] {
    display: block !important;
    break-before: avoid;
    break-inside: avoid;
    break-after: avoid;
  }

  .content-padding {
    padding: 16px 0 16px 0 !important;
  }
}
