@use 'fonts';

:root {
  --main-font-size: 14px;
  --h1-font-size: 38px;
  --h2-font-size: 30px;
  --h3-font-size: 26px;
  --h4-font-size: 22px;
  --h5-font-size: 14px;
}

:root {
  --main-line-height: 1.4;
  --h1-line-height: 1.3;
  --h2-line-height: 1.3;
  --h3-line-height: 1.3;
  --h4-line-height: 1.3;
  --h5-line-height: 1.4;
}

@media (max-width: 800px) {
  :root {
    --main-font-size: 14px;
    --h1-font-size: 32px;
    --h2-font-size: 28px;
    --h3-font-size: 26px;
    --h4-font-size: 20px;
    --h5-font-size: 14px;
  }
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 300;
  margin: 0;
  color: var(--text-color-title);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 400;
  margin: 0;
  color: var(--text-color-title);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 300;
  line-height: var(--h3-line-height);
  margin: 28px 0 8px 0;
  color: var(--text-color-title);
  font-family: 'Lora';
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: 400;
  margin: 36px 0 8px 0;
  color: var(--text-color-title);
  position: relative;
}

h5 {
  font-size: var(--h5-font-size);
  font-weight: 600;
  line-height: var(--h5-line-height);
  margin: 0;
  color: var(--text-color-title);
  position: relative;
}

p {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: 400;
  margin: 0 0 16px 0;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 400;

  &:hover {
    color: var(--link-color-hover);
    transition: all 0.5s;
  }
}

p {
  a {
    &:hover {
      border-bottom: 1px solid var(--link-color);
    }
  }
}

ol,
ul {
  color: var(--text-color);
  padding-left: 24px;
  margin: 0 0 12px 0;
  line-height: var(--main-line-height);
}

ol li,
ul li {
  margin-bottom: 8px;
}

strong,
b {
  font-weight: 600;
  color: var(--text-color-title);
}

.btn_text {
  font-weight: 500;
  color: var(--text-color);
}

.small_btn {
  font-size: 10px;
  font-weight: 400;
  color: var(--text-color);
}

.caption_text {
  font-size: 11px;
  color: var(--text-g-color);
  line-height: 12px;
  font-weight: 300;
  margin: -4px 0 12px 0;
}

h4 + .caption_text {
  margin-top: -6px;
}

summary.header_separator + .caption_text {
  margin-top: -10px;
}

.uppercase_text {
  text-transform: uppercase;
}

.capitalize_text {
  text-transform: capitalize;
}

blockquote {
  padding: 16px 16px 4px 16px;
  background-color: var(--hover);
  margin-bottom: 32px;
  margin-top: 32px;

  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  border-left: 2px solid var(--primary);

  h4:first-child {
    margin: 0 0 8px;
  }

  .source-quote {
    display: flex;
    justify-content: flex-end;
  }
}

.spell-list {
  text-indent: -16px;
  margin-left: 16px;
  margin-bottom: 16px;

  p {
    margin: 0 0 4px;
  }
}

.header_separator {
  display: flex;
  align-items: center;
  margin-top: 32px;
  border-bottom: 1px solid;
  border-color: var(--border);
  padding: 6px 0px;
}

h5.header_separator {
  margin-top: 0;
  margin-bottom: 8px;
}

.filter_crumbs_box .header_separator {
  margin: 16px 4px 4px;
  font-weight: 400;
}

.header_separator:not(:empty)::after {
  margin-left: 8px;
}

.header_separator > span {
  margin-right: 8px;
}

/********* Сворачивание текста / details  *********/
details {
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 28px;

  summary {
    padding: 8px 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--text-color-title);
    position: relative;
    cursor: pointer;
    background: var(--bg-details-title);
    border-radius: 8px;
    width: auto;
    margin: 0;
    gap: 8px;

    &.h4 {
      font-size: var(--h4-font-size);
      font-weight: 400;
    }
  }

  .content {
    padding: 0 8px;
  }
}

details[open] {
  summary {
    background: none;
    border-radius: 0;
    border-bottom: 1px solid;
    border-color: var(--border);
    margin: 0 0 8px 8px;
    padding: 8px 0;

    .source-data {
      margin-right: 48px;
    }
  }
}

details {
  &.inside {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    background-color: var(--bg-details-title);

    summary {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}

details[open] {
  &.inside {
    summary {
      border-bottom: 1px solid;
      border-color: var(--border);
      margin-bottom: 8px;
    }

    padding-bottom: 4px;
  }
}

details[open] {
  &.lvl {
    background-color: var(--bg-details-title);

    .content {
      padding: 4px 8px;
    }
  }
}

summary::marker {
  content: '';
}

summary:before {
  right: 32px;
  position: absolute;
  content: '➕';
  width: 0;
  height: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  opacity: 0.7;
}

details[open] > summary::before {
  content: '➖';
}

@media (max-width: 800px) {
  summary::before {
    right: 28px;
  }
}

summary.h5 {
  font-size: var(--h5-font-size);
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 8px 0;
  color: var(--text-color);
  cursor: pointer;
}

summary.h4:hover,
summary.h5:hover {
  color: var(--text-color);
}

.optional-rules {
  margin-right: 8px;
}

.source-data {
  text-align: right;
  margin-left: auto;
  margin-right: 40px;
  text-transform: uppercase;
  color: var(--text-g-color);
  font-size: var(--main-font-size);
}

h4.separator_card {
  width: 100%;
  margin-left: 8px;
}

.archetype_feet {
  color: var(--text-a-color) !important;
}

.align_left {
  text-align: left !important;
}

details.spoiler {
  padding: 0 0 4px 0;
  margin: 24px -8px 16px -8px;
  border-radius: 8px;

  .content {
    padding: 8px 16px;
  }
}

details[open].spoiler {
  background-color: var(--bg-details-title);

  summary {
    .source-data {
      margin-right: 40px;
    }
  }
}

details[open].spoiler > summary.h4 {
  margin: 0 0 4px 0;
  padding: 8px 8px;
  background: var(--hover);
  border-radius: 8px 8px 0 0;
}

details[open].spoiler > summary::after {
  right: 8px !important;
}

details[open].spoiler h4 > span {
  font-size: calc(var(--h4-font-size) - 2px);
}

details[open].spoiler table {
  background-color: var(--bg-sub-menu);
  border-radius: 8px;
}

details[open].spoiler div > details {
  margin-bottom: 0;
}

/********* Выделение в тексте *********/
dnd5club-dice-text,
dnd5club-saving-throw,
dnd5club-advantage,
dnd5club-disadvantage,
span.dice_text,
span.homebrew_text,
span.advantage,
span.disadvantage,
span.saving_throw {
  color: var(--text-btn-color);
  font-weight: 500;
}

dnd5club-dice-text,
span.dice_text {
  color: var(--bg-dice) !important;
}

span.homebrew_text {
  color: var(--bg-homebrew);
  text-transform: none;
}

dnd5club-advantage,
span.advantage {
  color: var(--bg-advantage);
}

dnd5club-disadvantage,
span.disadvantage {
  color: var(--bg-disadvantage);
}

dnd5club-saving-throw,
span.saving_throw {
  color: var(--bg-saving_throw);
}

/********* Таблицы *********/
.table-responsive {
  overflow-x: auto;
  border-radius: 8px;
  margin-bottom: 12px;

  table {
    margin-bottom: 0;
  }
}

table {
  color: var(--text-color);
  border-spacing: inherit;
  border: 1px solid var(--border);
  width: 100% !important;
  overflow: scroll;
  margin-bottom: 12px;
  border-radius: 8px;
  height: 100%;
}

table thead {
  background-color: var(--primary);
  font-size: calc(var(--main-font-size) - 2px);
  color: var(--text-btn-color);
}

table th,
table thead th {
  padding: 4px 4px;
  font-weight: 500;
}

table th b,
table th strong,
table thead th b,
table thead th strong {
  font-weight: 500;
}

table td {
  border-right: 1px solid var(--border);
  height: auto;
  padding: 4px 4px;
  line-height: var(--main-line-height);
}

table tr:nth-child(2n) {
  background: var(--bg-table-row);
}

table td:last-child {
  border-right: 0 solid var(--border);
}

.table-responsive.class {
  margin-top: 24px;
  margin-bottom: 24px;
}

table tbody tr:hover {
  background-color: var(--hover);
}
