@use 'variables' as *;

.beta {
  color: var(--primary);
}

.custom_link {
  display: inline-block;

  padding: 10px 16px;

  color: var(--text-btn-color);

  background-color: var(--primary);
  border-radius: 8px;

  &:hover {
    color: var(--text-btn-color);
    background-color: var(--primary-hover);
    border: 0;
  }
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;

  &::after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}

.container {
  position: relative;

  overflow: auto;

  width: 100%;
  height: var(--max-vh);
  margin: auto;
  padding: 0 16px;

  @include media-min($xl) {
    padding: 0 24px;
  }
}

.main_page_wrapper {
  width: 100%;
  max-width: var(--max-content);
  margin: 0 auto;
}

.beast_info {
  p {
    margin-bottom: 6px;
  }

  @include media-max($sm) {
    min-height: 120px;
  }
}

.spell_stat_block_bottom {
  margin: 0 0 12px;

  p {
    margin: 0 0 2px;
    color: var(--text-color-title);
  }

  .classes_icon {
    display: flex;
    flex-wrap: wrap;

    .icon,
    .class-square {
      cursor: pointer;

      display: block;

      width: 48px;
      height: 48px;
      margin-right: 8px;
      padding: 8px;

      color: var(--primary);

      background-color: var(--hover);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 8px;

      @include css-anim;

      &:hover {
        color: var(--link-color-hover);
      }
    }
  }
}

.scores {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;

  &__stats {
    overflow: hidden;
    flex: 1 0 calc(16% - 8px);

    min-width: calc(16% - 8px);

    text-align: center;

    background-color: var(--hover);
    border-radius: 8px;

    h4 {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 32px;
      margin: 0;

      font-family: 'Open Sans', sans-serif;
      font-size: var(--main-font-size);
      color: var(--text-color-title);
      text-transform: uppercase;

      background-color: var(--hover);
    }

    p {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0;
      padding: 8px;
    }

    @media (width <= 1500px) {
      flex: 1 0 calc(33% - 8px);
      max-width: calc(33% - 8px);
    }

    @media (width <= 1200px) {
      flex: 1 0 calc(16% - 8px);
    }

    @media (width <= 800px) {
      flex: 1 0 calc(33% - 8px);
      max-width: calc(33% - 8px);
    }

    @media (width <= 600px) {
      flex: 1 0 calc(50% - 8px);
      max-width: calc(50% - 8px);
    }
  }
}

.stat-list {
  padding: 0;

  li {
    margin-bottom: 6px;
    list-style: none;

    p {
      display: inherit;
    }
  }
}

.grid_stat_block {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  margin: 16px 16px 0;

  border: 1px solid var(--border);
  border-radius: 8px;

  .block {
    flex: 1 0 calc(33% - 49px);

    min-width: calc(33% - 49px);
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 10px 24px;

    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);

    p {
      margin: 0 0 4px;
      font-weight: 500;
      color: var(--text-color-title);
    }

    &.one_row {
      flex: 1 0 calc(100% - 48px);
      min-width: calc(100% - 48px);
      border-right: none;
    }

    &.duration {
      border-right: none;

      @media (width <= 1200px) {
        flex: 1 0 calc(100% - 49px);
        min-width: calc(100% - 49px);
      }
    }

    @media (width <= 1200px) {
      flex: 1 0 calc(50% - 49px);
      min-width: calc(50% - 49px);
      padding: 10px 16px;
    }
  }

  @include media-min($xl) {
    margin: 16px 24px 0;
  }
}

.main_block {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0 8px;

    .search_row_g {
      cursor: pointer;

      position: relative;

      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      max-width: 600px;
      height: 46px;
      padding: 0 16px;

      background-color: var(--bg-secondary);
      border: 1px solid var(--border);
      border-radius: 36px;

      &:hover {
        background-color: var(--hover);
      }

      span.computer_version {
        display: none;

        @include media-min($md) {
          display: block;
        }
      }

      span.key {
        padding: 0 8px;
        font-weight: 600;
        color: var(--text-color-title);
        background-color: var(--bg-sub-menu);
        border: {
          width: 1px;
          color: var(--border);

          radius: 4px;
          style: solid;
        }
      }
    }

    @include media-min($xl) {
      margin: 5vw 0 8px;
    }
  }

  .card_row {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    margin: 16px 0 0;
    padding: 0;

    .card {
      position: relative;

      overflow: hidden;
      display: grid;
      flex: 1 1 15%;
      align-items: center;
      justify-content: start;

      min-width: 15%;
      height: 56px;
      padding: 0 12px;

      text-decoration: none;

      background-color: var(--bg-sub-menu);
      border-radius: 12px;
      box-shadow: 0 0.625rem 0.75rem 0 var(--card-shadow);

      // mask-image: radial-gradient(
      //   white,
      //   black
      // ); // Не удалять, это фикс для Safari, чтобы не вылазили углы картинки
            // Вопрос решен кардинально! (оставим для истории)

      &::before {
        content: '';

        position: absolute;
        right: 0;

        display: block;

        width: 220px;
        height: 56px;

        opacity: 0.8;
        background-image: url("/img/bg_main_page_button_nav.webp");
        background-position: 0 0;
        background-size: cover;

        transition: transform 0.6s;
      }

      @for $i from 1 through 11 {
        &:nth-child(#{$i + 1}) {
          &::before {
            background-position: 0 $i * -56px;
          }
        }
      }

      .title {
        z-index: 1;
        display: grid;
        align-items: center;
        height: 32px;

        h4 {
          margin-top: 0;
          margin-right: 50%;
          margin-bottom: 0;

          font-family: 'Open Sans', sans-serif;
          font-size: var(--h5-font-size);
          font-weight: 500;
          line-height: 16px;
          color: var(--text-color-title);
        }
      }

      @media (width <= 1200px) {
        height: 48px;
      }

      @include media-min($md) {
        &:hover {
          &::before {
            transform: scale(1.15);
            transition: transform 0.6s;
          }
        }
      }

      @media (width <= 1200px) {
        flex: 1 1 23%;
        min-width: 23%;
      }

      @media (width <= 600px) {
        flex: 1 1 43%;
        min-width: 43%;
      }
    }
  }

  .main-page-blocks {
    margin-top: 24px;
    margin-bottom: 16px;

    .row {
      display: flex;
      flex-direction: row;
      gap: 16px;

      @include media-max($lg) {
        flex-direction: column;
      }
    }

    .column {
      display: flex;
      flex: 1 0;
      flex-direction: column;
      gap: 16px;

      &.youtube-block {
        flex: 0 0 calc(33% - 4px);

        height: fit-content;
        padding: 1px;

        background: radial-gradient(circle at 100% 100%, var(--bg-secondary) 0, var(--bg-secondary) 11px, transparent 11px) 0% 0% / 12px 12px no-repeat, radial-gradient(circle at 0 100%, var(--bg-secondary) 0, var(--bg-secondary) 11px, transparent 11px) 100% 0% / 12px 12px no-repeat, radial-gradient(circle at 100% 0, var(--bg-secondary) 0, var(--bg-secondary) 11px, transparent 11px) 0% 100% / 12px 12px no-repeat, radial-gradient(circle at 0 0, var(--bg-secondary) 0, var(--bg-secondary) 11px, transparent 11px) 100% 100% / 12px 12px no-repeat, linear-gradient(var(--bg-secondary), var(--bg-secondary)) 50% 50% / calc(100% - 2px) calc(100% - 24px) no-repeat, linear-gradient(var(--bg-secondary), var(--bg-secondary)) 50% 50% / calc(100% - 24px) calc(100% - 2px) no-repeat, linear-gradient(135deg, var(--border-gradient) 0%, var(--border) 100%);
        border-radius: 12px;
        box-shadow: 0 0.625rem 0.75rem 0 var(--card-shadow);
      }
    }

    .block {
      position: relative;

      overflow: hidden;
      display: flex;
      flex-direction: row;

      width: 100%;
      height: 100%;
      min-height: 100px;
      padding: 0 16px;

      background-color: var(--bg-sub-menu);
      border-radius: 12px;
      box-shadow: 0 0.625rem 0.75rem 0 var(--card-shadow);

      &::before {
        content: '';

        position: absolute;
        top: 0;
        left: -1px;

        display: block;

        width: 101%;
        height: 100%;

        opacity: 0.7;
        background-position: 50%;
        background-size: cover;

        transition: transform 0.6s;
      }


      .info {
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding-bottom: 4px;

        h4 {
          margin-top: 0;
          font-family: 'Open Sans', sans-serif;
          font-weight: 500;
        }

        p {
          margin-bottom: 0;
        }
      }

      &:hover {
        &::before {
          transform: scale(1.15);
          transition: transform 0.6s;
        }
      }

      @media (width <= 1000px) {
        max-width: 100%;
      }
    }

    .dnd5club_tel_bot {
      &::before {
        background-image: url("/img/bg_telegram_bot.webp?v=2");
      }
    }

    .discord_bot {
      &::before {
        background-image: url("/img/bg_discord_bot.webp?v=2");
      }
    }

    .token_library {
      &::before {
        background-image: url("/img/bg_token_library.webp?v=1");
      }
    }
  }
}

.links_block {
  padding: 16px;
  background: radial-gradient(circle at 100% 100%, var(--bg-secondary) 0, var(--bg-secondary) 11px, transparent 11px) 0% 0% / 12px 12px no-repeat, radial-gradient(circle at 0 100%, var(--bg-secondary) 0, var(--bg-secondary) 11px, transparent 11px) 100% 0% / 12px 12px no-repeat, radial-gradient(circle at 100% 0, var(--bg-secondary) 0, var(--bg-secondary) 11px, transparent 11px) 0% 100% / 12px 12px no-repeat, radial-gradient(circle at 0 0, var(--bg-secondary) 0, var(--bg-secondary) 11px, transparent 11px) 100% 100% / 12px 12px no-repeat, linear-gradient(var(--bg-secondary), var(--bg-secondary)) 50% 50% / calc(100% - 2px) calc(100% - 24px) no-repeat, linear-gradient(var(--bg-secondary), var(--bg-secondary)) 50% 50% / calc(100% - 24px) calc(100% - 2px) no-repeat, linear-gradient(135deg, var(--border-gradient) 0%, var(--border) 100%);
  border-radius: 12px;
  box-shadow: 0 0.625rem 0.75rem 0 var(--card-shadow);

  h3 {
    margin-top: 0;
    margin-bottom: 12px;

    font-family: 'Open Sans', sans-serif;
    font-size: calc(var(--h3-font-size) - 12px);
    font-weight: 400;

    opacity: 0.6;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;

    .chips {
      display: inline-flex;
      align-items: center;

      margin: 4px;
      padding: 8px;

      color: var(--text-color);

      background-color: var(--bg-sub-menu);
      border: 1px solid var(--border);
      border-radius: 8px;

      transition: all 0.5s;

      &.w-100 {
        display: flex;
        flex: 100%;
        justify-content: center;

        width: 100%;

        text-align: center;
      }

      img {
        overflow: hidden;
        display: inline-block;

        width: 20px;
        height: 20px;
        margin-right: 4px;

        border: 1px solid var(--border);
        border-radius: 50%;
      }

      &:hover {
        color: var(--text-color-title);
        background-color: var(--bg-main);
      }
    }
  }
}

.tpd-skin-dnd5 {
  .grid_stat_block {
    .block {
      padding: 4px 8px;
    }
  }
}

.bestiary {
  .scores {
    margin: 16px 0;
  }
}

.content-padding {
  padding: 16px;

  @include media-min($xl) {
    padding: 16px 24px;
  }
}

.class_stats {
  margin-bottom: 6px;
}

.form {
  &__row {
    position: relative;
    display: flex;

    & + & {
      margin-top: 16px;
    }

    &.is-error {
      padding: 12px;

      color: var(--text-color);

      background-color: var(--hover);
      border: 1px solid var(--border);
      border-radius: 8px;
    }

    &.is-success {
      padding: 12px;

      color: var(--success);

      background-color: var(--bg-success);
      border: 1px solid var(--success);
      border-radius: 8px;
    }

    &.is-hidden {
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
      visibility: hidden !important;
    }
  }
}

.tools_settings {
  position: relative;

  padding: 16px;

  background-color: var(--bg-main);
  border: 1px solid var(--border);
  border-radius: 12px;

  &__row {
    margin-top: 16px;

    &.btn-wrapper {
      display: flex;
      gap: 8px;
    }
  }

  &__column {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .row {
      &.align-right {
        margin-left: auto;
      }
    }
  }

  .label {
    display: flex;
    margin-bottom: 8px;
  }

  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.bestiary_h5 {
  h5 {
    position: relative;

    float: left;

    margin-right: 4px;

    font-weight: 600;
    font-style: italic;
    color: var(--text-color-title);

    &::before {
      content: '';

      position: absolute;
      top: 5px;
      left: -6px;

      display: block;

      width: 2px;
      height: 10px;

      background: var(--text-color-title);
    }
  }
}

.img-title {
  background: var(--bg-secondary);
  border-radius: 8px;

  h5 {
    padding: 8px;
  }
}

.responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

img.responsive {
  padding: 8px;
  background: var(--bg-secondary);
  border-radius: 8px;
}
